.settings-setting {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 15px;
  font-size: 18px;
  opacity: 0.8;
}

.settings-setting span {
  font-size: 15px;
  font-weight: 500;
}

.settings__setting-column:last-child {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.6;
}
