#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: none;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 601px) {
  #no-mobile {
    display: flex;
  }
}

@media screen and (max-width: 319px) {
  #no-mobile {
    display: flex;
  }
}
